body{
background:#0f0f11;
font-family:Arial;
color:white;
margin:0;
}

header{
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
}

.filters select{
padding:8px;
margin-left:10px;
border-radius:6px;
background:#1c1c1f;
color:white;
border:none;
}

#alphabet{
padding:10px;
text-align:center;
}

#alphabet span{
margin:6px;
cursor:pointer;
color:#bbb;
}

.card{

background:#1b1b1e;
border-radius:16px;
padding:20px;
margin:12px;
box-shadow:0 10px 20px rgba(0,0,0,.4);
}

.cardHeader{
display:flex;
align-items:center;
margin-bottom:12px;
}

.cardHeader img{
width:22px;
margin-right:8px;
}

.word{
background:#2e7d32;
}

.keyphrase{
background:#e0a800;
}

.expression{
background:#c62828;
}

.languageRow{
display:grid;
grid-template-columns:repeat(7,1fr);
margin-top:10px;
}

.lang{
text-align:center;
}

.pron{
font-size:12px;
color:#bbb;
}
